:root {
  --colors-light-100: #f4f6f9;
  --colors-light-200: #d6deea;
  --colors-light-300: #b6c9e1;
  --colors-light-400: #95b4dd;
  --colors-light-500: #71a1e0;
  --colors-light-600: #478eeb;
  --colors-light-700: #177bff;
  --colors-light-800: #196fe1;
  --colors-light-900: #2967b9;
  --colors-light-910: #315e99;
  --colors-light-920: #365681;
  --colors-light-930: #374e6d;
  --colors-light-940: #37475d;
  --colors-dark-100: #435873;
  --colors-dark-200: #38506e;
  --colors-dark-300: #2d486a;
  --colors-dark-400: #214068;
  --colors-dark-500: #163966;
  --colors-dark-600: #0b3366;
  --colors-dark-700: #002d67;
  --colors-dark-800: #092a53;
  --colors-dark-900: #0f2644;
  --colors-dark-910: #122339;
  --colors-dark-920: #142030;
  --colors-dark-930: #141d28;
  --colors-dark-940: #141a23;
  --colors-love-100: #faf3f3;
  --colors-love-200: #f0d1d1;
  --colors-love-300: #edabab;
  --colors-love-400: #f18282;
  --colors-love-500: #ff5252;
  --colors-love-600: #ea4545;
  --colors-love-700: #d43d3d;
  --colors-love-800: #ba3c3c;
  --colors-love-900: #9c4141;
  --colors-love-910: #844343;
  --colors-love-920: #714242;
}
